.col.col--5.col-lg--4.col-md--3.col-sm--2.col-exm--1
    .advertise
        .advertise__text Another Post where you can put a link to a specific website
        a.advertise__link(href="javascript:void(0)") http://www.themeforest.net