include ./_advertise.pug
each val in ['1','3','7','12']
    .col.col--5
        +singleimg(val)
include ./_advertise.pug
+bloggallery('1', '3 ', 'Dec 23, 2013')
+quote('Logic will get you from A to B. Imagination will take you everywhere.','Albert Enstein')
+blogstandart('19','7','Dec 23, 2018')
+bloggallery('1', '3 ', 'Dec 23, 2013')
+quote('Logic will get you from A to B. Imagination will take you everywhere.','Albert Enstein')
+blogstandart('19','7','Dec 23, 2018')
+bloggallery('1', '3 ', 'Dec 23, 2013')
+quote('Logic will get you from A to B. Imagination will take you everywhere.','Albert Enstein')
+blogstandart('19','7','Dec 23, 2018')
+bloggallery('1', '3 ', 'Dec 23, 2013')
+quote('Logic will get you from A to B. Imagination will take you everywhere.','Albert Enstein')
+blogstandart('19','7','Dec 23, 2018')
+bloggallery('1', '3 ', 'Dec 23, 2013')
+quote('Logic will get you from A to B. Imagination will take you everywhere.','Albert Enstein')
+blogstandart('19','7','Dec 23, 2018')
a.btn.btn--show(href="javascript:void(0)") Older Posts