+bloggallery('1', '3 ', 'Dec 23, 2013')
include ./_advertise.pug
+singleimg('18')
+quote('Logic will get you from A to B. Imagination will take you everywhere.','Albert Enstein')
+bloggallery('1', '3 ', 'Dec 23, 2013')
+blogstandart('19','7','Dec 23, 2018')
+blogstandart('1','7','Dec 23, 2018')
+blogstandart('8','7','Dec 23, 2018')
+singleimg('10')
+blogstandart('4','7','Dec 23, 2018')
+blogstandart('7','7','Dec 23, 2018')
include ./_advertise.pug
include ./_blog-post.pug
a.btn.btn--show(href="javascript:void(0)") Older Posts