.filter 
	.filter__header Filter
		i.fas.fa-th-large
	ul.filter__nav
		li.filter__list
			input.filter__radio(type="radio", name="filter" id='all' checked)
			label.filter__item(for="all") All works
		li.filter__list
			input.filter__radio(type="radio", name="filter" id='design')
			label.filter__item(for="design") web design
		li.filter__list
			input.filter__radio(type="radio", name="filter" id='illustration')
			label.filter__item(for="illustration") illustration
		li.filter__list
			input.filter__radio(type="radio", name="filter" id='photo')
			label.filter__item(for="photo") photography
		li.filter__list
			input.filter__radio(type="radio", name="filter" id='wallpaper')
			label.filter__item(for="wallpaper") wallpapers
		li.filter__list
			input.filter__radio(type="radio", name="filter" id='brochure')
			label.filter__item(for="brochure") brochures