.info
    a.btn.btn--info.js-dropdown(href="javascript:void(0)")
        i.fas.fa-info-circle
    ul.info__submenu.js-dropdown__body 
        li.info__item
            a.info__link(href="tel:+") 
                i.fas.fa-phone
                span 9930 1234 5679
        li.info__item
            a.info__link(href="mailto:") 
                i.fas.fa-envelope
                span contact@domain.com
        li.info__item
            a.info__link(href="javascript:void(0)") 
                i.fas.fa-home
                span street address example
