.loader
        .loader__wrapper
            .loader__text KAPPE
            .loader__animation
                .loader__bigcircle
                .loader__smallcircle 
            .loader__progress
                .loader__bar
                .loader__fill(id='progress')