.main.scrollbar-inner
    .row.row--nogutters
        each val in [['1','light'] , ['2', 'dark'], ['3','light'], ['4', 'dark'], ['5', 'dark'], ['6','light'], ['7', 'dark'], ['8', 'light'], ['9', 'light'] , ['10', 'dark'], ['11','light'] , ['12', 'dark'], ['13', 'dark'], ['14','light'], ['15', 'dark'], ['16','light'], ['17','light'], ['18', 'dark'], ['19','light'], ['20', 'dark'],['2', 'dark'], ['3','light'], ['4', 'dark'], ['5', 'dark'], ['6','light'], ['7', 'dark'], ['8', 'light'], ['9', 'light']]
            +work(val[0],val[1])