.main.scrollbar-inner
    .row.row--nogutters
        each val in [['1','design'] , ['2', 'illustration'], ['3','photo'], ['4', 'illustration'], ['5', 'wallpaper'], ['6','design'], ['7', 'photo'], ['8', 'design'], ['9', 'brochure'] , ['10', 'wallpaper'], ['11','illustration'] , ['12', 'brochure'], ['13', 'wallpaper'], ['14','design'], ['15', 'illustration'], ['16','photo'], ['17','brochure'], ['18', 'wallpaper'], ['19','design'], ['20', 'brochure'],['2', 'dwallpaper'], ['3','illustration'], ['4', 'illustration'], ['5', 'design'], ['6','photo'], ['7', 'brochure'], ['8', 'wallpaper'], ['9', 'photo']]
            +work(val[0],val[1])