.nav.nav--shadow    
    include ./_logo.pug
    ul.nav__list
        li.nav__item.nav__item--active
            a.nav__link(href="index.html") Home
        li.nav__item
            a.nav__link(href="http://") Work
        li.nav__item
            a.nav__link(href="about.html") About
        li.nav__item
            a.nav__link(href="http://") Blog
        li.nav__item
            a.nav__link(href="http://") Services
        li.nav__item
            a.nav__link(href="Contact.html") Contact
    include ./_filter.pug
    include ./_social.pug
    .nav__copyright
        p © 2014 Kappe, All Rights Reserved