.col.col--2.col-md--1.col-sm-1.col-exm--1
    .col.col--1
        include ./_swiper.pug
        .singlepost__text
            h2 Heavy Sand - Creative photography
            p Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
            p Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.
        .singlepost__comments
            h2 5 Comments
            +comment(['1','2','3','4','5','6'],['ShaneFreer ','Collis Ta’eed ','jremick ','joshjanssen ','bensmithett', 'stewboon'],['58 minuites ago','42 minuites ago','22 minuites ago','22 minuites ago','42 minuites ago','22 minuites ago'],['great post brainartworks','yeah i  really like it too, very useful!','i found this post very useful too, the comment form works just perfect, keep it up guys :)','yep, especially when it comes to comment testing','couldn’t be better :D','nice job'],3)
            +comment('7',['justinfrench'],['48 minuites ago'],['looks very promising'],0)
.col.col--2.col-md--1.col-sm-1.col-exm--1
    .col.col--1
        h2 Post info
        ul.singlepost__info
            each val in [['premiumplayers','fas','fa-user'],['138 likes','fas','fa-heart'],['25 December, 2013','far','fa-calendar'],['4 Comments','fas','fa-comments']]
                +projectinfo(val[0], val[1], val[2])
        h2 Tags
        .singlepost__tags
            each val in ['web design','photography','development','php','ecommerce','graphic']
                +tags(val)
        h2 Archives
        .singlepost__archive
            each val in [['December','2013','22'],['March','2017','12'],['November','2014','3'],['August','2016','7'],['April','2018','33']]
                +archive(val[0], val[1], val[2])
