<div class="swiper">
	<div class="swiper-contwrap">
		<div class="swiper-container gallery-top">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img src="./img/main/1.jpg">
				</div>
				<div class="swiper-slide">
					<img src="./img/main/13.jpg">
				</div>
				<div class="swiper-slide">
					<img src="./img/main/15.jpg">
				</div>
				<div class="swiper-slide">
					<img src="./img/main/19.jpg">
				</div>
				<div class="swiper-slide">
					<img src="./img/main/4.jpg">
				</div>
				<div class="swiper-slide">
					<img src="./img/main/9.jpg">
				</div>
				<div class="swiper-slide">
					<img src="./img/main/14.jpg">
				</div>
				<div class="swiper-slide">
					<img src="./img/main/7.jpg">
				</div>
				<div class="swiper-slide">
					<img src="./img/main/16.jpg">
				</div>
				<div class="swiper-slide">
					<img src="./img/main/20.jpg">
				</div>
			</div>
			<!-- Add Arrows -->
			<div class="swiper-button-next swiper-button-white"></div>
			<div class="swiper-button-prev swiper-button-white"></div>
		</div>
		<div class="swiper-thumbwrap">
			<div class="swiper-container gallery-thumbs">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<img src="./img/main/1.jpg">
					</div>
					<div class="swiper-slide">
						<img src="./img/main/13.jpg">
					</div>
					<div class="swiper-slide">
						<img src="./img/main/15.jpg">
					</div>
					<div class="swiper-slide">
						<img src="./img/main/19.jpg">
					</div>
					<div class="swiper-slide">
						<img src="./img/main/4.jpg">
					</div>
					<div class="swiper-slide">
						<img src="./img/main/9.jpg">
					</div>
					<div class="swiper-slide">
						<img src="./img/main/14.jpg">
					</div>
					<div class="swiper-slide">
						<img src="./img/main/7.jpg">
					</div>
					<div class="swiper-slide">
						<img src="./img/main/16.jpg">
					</div>
					<div class="swiper-slide">
						<img src="./img/main/20.jpg">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>