.testimonals
    h2 Testimonals
    .testimonals__wrapper
        img.testimonals__ico(src="./img/about/burns.jpg")
        .testimonals__position mr. Burns (Grand boss)
    .testimonals__comment
        p Sollicitudin lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt.