.about{
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    &__imgwrapper{
        display: block;
        position: relative;
        width: 100%;
        &:before{
            content: '';
            display: block;
            padding-top: 42%;
        }
    }    
    &__img {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        object-position: center;
        display: block;
        width: 100%;
        height: 100%;
    }
    &__info{
        margin-top: 23px;
        padding-bottom: 22px;
        border-bottom: 1px solid #e5e5e5;
        margin-bottom: 30px;
        & p + p {
            margin-top: 10px;
        }
    }
    &__horizontal{
        display: block;
        background-color: #e5e5e5;
        height: 1px;
        width: 100%;
        margin: 25px 0;
    }
    &__vertical{
        display: block;
        background-color: #e5e5e5;
        height: 100%;
        width: 1px;
        position: absolute;
        top: 30px;;
        left: 50%;
    }
}