.advertise{
    width: 100%;
    background-color: $pr;
    padding: 37px 33px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__text{
        color: white;
        font-size: 18px;
        line-height: 1.1;
        text-align: center;
        margin-bottom: 6px;
    }
    &__link{
        color: white;
        font-size: 14px;
        font-weight: 700;
        font-style: italic;
        line-height: 1.4;
        text-decoration: underline;
    }
}