.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    &--social{
        color: white;
        background-color:black;
        width: 24px;
        height: 24px;
        font-size: 14px;   
        border-radius: 3px;
    }
    &--facebook {
        background-color: #4163a7;
    }
    &--behance{
        background-color: #48cced;
    }
    &--print{
        background-color: #f1392a;
    }
    &--google{
        background-color: #d14d25;
    }
    &--dribble{
        background-color: #ff88cf;
    }
    &--twitter {
        background-color: #30b1e4;
    }
    &--vk {
        background-color: #597da3;
    }
    &--info {
        position: relative;
        color: white;
        background-color: $pr;
        height: 90px;
        width: 90px;
        font-size: 28px;
        line-height: 1;
        @media screen and (max-width: 990px){
            // height: 60px;
            // width: 60px;
            // font-size: 18px;
            display: none;
        }
        &:before {
            content: '';
            position: absolute;
            background-color: transparent;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 61px;
            height: 61px;
            border: 1px solid white;
            border-radius: 50%;
            @media screen and (max-width: 768px){
                height: 42px;
                width: 42px;
            }
        }
        &:hover {
            &:before  {
                cursor: pointer;
                animation: pulse 0.3s linear infinite;
                @media screen and (max-width: 768px){
                    animation: none;
                }
            }   
        }
    }
    &--submit{
        width: 100%;
        background-color: $pr;
        color: white;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 300;
        line-height: 2.2;
        border: 1px solid $pr;
        transition: all 0.3s linear; 
        padding: 14.5px 0;
        &:hover {
            color: $pr;
            background-color: white;
            font-weight: 900;
        }
    }
    &--show{
        z-index: 10000;
        position: fixed;
        bottom: 0;
        left: 53.5%;
        background-color: $pr;
        color: white;
        font-size: 20px;
        font-weight: 100;
        line-height: 1.5;
        text-transform: uppercase;
        padding: 19px 27px;
        transition: 0.3s linear;
        @media screen and (max-width: 990px) {
            display: none;
        }
        &:hover{
            background-color: #fff;
            color: $pr;
        }
    }
}

