.comment{
    position: relative;
    
    & > & {
        padding-left: 105px;
        @media screen and (max-width: 990px) {
            padding-left: 75px;
        }
        @media screen and (max-width: 768px) {
            padding-left: 55px;
        }
        &:before{
            position: absolute;
            content: '';
            display: block;
            width: 1px;
            height: 40px;
            top: 0;
            left: 40px;
            background-color: $sec;
            
            @media screen and (max-width: 990px) {
                left: 30px;
                height: 30px;
            }
            @media screen and (max-width: 768px) {
                left: 20px;
                height: 20px;
                
            }
        }
        &:after{
            content: '';
            display: block;
            position: absolute;
            width: 40px;
            height: 1px;
            top: 41px;
            left: 40px;
            background-color: $sec;
            @media screen and (max-width: 990px) {
                left: 30px;
                width: 30px;
                top: 30px;
            }
            @media screen and (max-width: 768px) {
                left: 20px;
                top: 20px;
                width: 20px;
            }
        }
    }
    &__wrapper{
        display: flex;
        flex: 1;
        margin-top: 20px;
    }
    &__img{
        width: 80px;
        height: 80px;
        object-fit: cover;
        object-position: center;
        margin-right: 20px;
        @media screen and (max-width: 990px) {
            width: 60px;
            height: 60px;
        }
        @media screen and (max-width: 768px) {
            width: 40px;
            height: 40px;
        }
    }
    &__info{
        display: flex;
        margin-bottom: 8px;
        * + * {
            padding-left: 3px;
        }
    }
    &__author{
        color: #3c3c3c;
        font-size: 14px;
        line-height: 1;
        border-bottom: 1px solid $sec;
        padding-bottom: 8px;
        @media screen and (max-width: 990px) {
            font-size: 12px;
        }
        @media screen and (max-width: 768px) {
            font-size: 10px;
        }
    }
    &__date{
        color: #d1d1d1;
        font-size: 14px;
        line-height: 1;
        border-bottom: 1px solid $sec;
        padding-bottom: 8px;
        @media screen and (max-width: 990px) {
            font-size: 12px;
        }
        @media screen and (max-width: 768px) {
            font-size: 10px;
        }
    }
    &__text{
        color: #a3a3a3;
        font-size: 18px;
        line-height: 26px;
        @media screen and (max-width: 990px) {
            font-size: 16px;
            line-height: 22px;
        }
        @media screen and (max-width: 768px) {
            font-size: 14px;
            line-height: 20px;
        }
    }
}