.filter{
    text-align: right;
    margin-bottom: 54px;
    @media screen and (max-height: 768px) {
        margin-bottom: 35px;
    }
    @media screen and (max-width: 990px) {
        margin-bottom: 0;
        order: 14;
    }
    @media screen and (max-width: 768px) {
        margin-bottom: 20px;
    }
    &__header{
        text-shadow: 0.5px 0.9px 4px rgba(0, 0, 0, 0.2);
        color: $pr;
        font-size: 19px;
        font-weight: 100;
        line-height: 1.7;
        transition: filter 0.3s linear;
        @media screen and (max-height: 768px) {
            font-size: 14px;
        }
        @media screen and (max-width: 990px) {
            position: relative;
        }
        &:hover{
            cursor: pointer;
            filter: brightness(1.5);
        }
        & i{
            font-size: 18px;
            margin-left: 13px;
            text-shadow: none;
        }
    }
    &__nav{
        display: none;
        flex-direction: column;
        margin-top: 13px;
        margin-bottom: 0;
        @media screen and (max-height: 768px) {
            margin-top: 5px;
        }
        @media screen and (max-width: 990px) {
            position: absolute;
            background-color: #242b2e;
            top: 56px;
            right: 0;
            margin: 0;
            padding-right: 20px;
            padding-bottom: 10px;
            padding-left: 20px;
        }
        @media screen and (max-width: 768px) {
            position: unset;
            background-color: #242b2e;
            margin-top: 5px;
            margin-bottom: 0;
            padding: 0;
        }
    }
    &__item{
        text-shadow: 0.5px 0.9px 4px rgba(0, 0, 0, 0.2);
        font-size: 13px;
        font-weight: 300;
        line-height: 1.9;
        color: #6b7072;
        @media screen and (max-height: 768px) {
            font-size: 11px;
        }
        @media screen and (max-width: 990px) {
            font-size: 15px;
        }
        @media screen and (max-width: 768px) {
            font-size: 12px;
        }
        &:hover {
            cursor: pointer;
            color: white;
        }
    }
    &__radio{
        display: none;
        &:checked + .filter__item{
            color: white;
        }
    }
    &:after{
        position: absolute;
        display: block;
        content: '';
        height: 1px;
        background-color: #1e282b;
        margin: 24px -25px;
        width: 300px;
        @media screen and (max-height: 768px) {
            margin: 14px -20px;
            width: 200px;
        }
        @media screen and (max-width: 990px) {
            display: none;
        }
    }
}