.list{
    color: #848484;
    font-size: 14px;
    line-height: 2;
    &--point{
        list-style: disc;
    }
    &--check{
        display: flex;
        align-items: center;
        & i{
            order: -1;
            margin-right: 10px;
        }
    }
}