progress{
    height: 36px;
    width: 100%;
    border: 1px solid #ececec;
    background: white;
    &::-webkit-progress-value{
        background:  #ececec;;
    }
    &::-webkit-progress-bar{
        background: white;
    }
}
.skills{
    &__level{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 14px;
        padding-bottom: 4px;
    }
    &__name {
        color: #727272;
        font-size: 15px;
        line-height: 1.7;
    }
    &__percentage{
        color: black;
        font-size: 14px;
        line-height: 1.7;
    }
    &__services{
        margin-top: 27px;
    }
    &__table{
        padding-left: 20px;
        margin-top: 14px;
        margin-bottom: 0;
    }
}