.social{
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
    padding: 0;
    @media screen and (max-height: 768px) {
        flex-wrap: wrap;
        margin-bottom: 0;
    }
    &__item{
        list-style: none;
        margin-bottom: 10px;
        &:hover {
            animation-name: shake;
            animation-duration: 0.2s;
            animation-timing-function: linear;
            animation-iteration-count: 2;
        }
    }
    &__item + &__item {
        margin-left: 10px;
    }
}
