script(src="https://code.jquery.com/jquery-3.3.1.min.js")
script(src="./js/script.js")
script(src="./plugins/jquery.scrollbar-gh-pages/jquery.scrollbar.min.js")
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js"></script>
<script src="./plugins/WOW-master/dist/wow.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.2/jquery.fancybox.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?"></script>