include ./_header.pug
title About
body
    .global-wrapper
        include ./blocks/_nav.pug
        include ./blocks/_info.pug
        .container
            .about.scrollbar-inner
                include ./blocks/_about.pug
                .about__vertical
                include ./blocks/_skills.pug
include ./_footer.pug