include ./mixins/mixins

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="./css/style.css")
        link(rel="stylesheet", href="./plugins/jquery.scrollbar-gh-pages/jquery.scrollbar.css")
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        title Home
    body
        .global-wrapper
            include ./blocks/_nav.pug
            include ./blocks/_info.pug
            include ./blocks/_main.pug




        script(src="https://code.jquery.com/jquery-3.3.1.min.js")
        script(src="./js/script.js")
        script(src="./plugins/jquery.scrollbar-gh-pages/jquery.scrollbar.min.js")
