include ./_header.pug
title Single work
body
    .global-wrapper
        .nav.nav--shadow
            .nav__button
                .nav__hamburger
                    .nav__button-top
                    .nav__button-mid
                    .nav__button-bot
            .nav__wrapper
                include ./blocks/_logo.pug
                ul.nav__list
                    each val in [['none','index','home'],['active','work','work'],['none','about','about'],['none','blog','blog'],['none','contact','contact']]
                        +navigation(val[0],val[1],val[2])
                include ./blocks/_social.pug
                .nav__copyright  © 2014 Kappe, All Rights Reserved  
        include ./blocks/_info.pug
        .container
            .work.scrollbar-inner
                include ./blocks/_work.pug
include ./_footer.pug