mixin bloggallery(img,comNum,date)
    .col.col--5
        .blog__gallery
            .blog__images
                .swiper-container.gallery-top
                    .swiper-wrapper
                        .swiper-slide
                            img.swiper__examle(src="./img/main/2.jpg")
                        .swiper-slide
                            img.swiper__examle(src="./img/main/1.jpg")
                        .swiper-slide
                            img.swiper__examle(src="./img/main/5.jpg")
                    .swiper-button-next.swiper-button-next-prim.swiper-button-prim.swiper-button-white
                    .swiper-button-prev.swiper-button-prev-prim.swiper-button-prim.swiper-button-white
            .blog__info
                .blog__tittle Gallery post example
                .blog__text A man who works with his hands is a laborer; a man who works with his hand s and his brain is a craftsman; but a man who works with his 
                .blog__underline
                .blog__infoblock
                    .blog__comments
                        i.fas.fa-comment
                        p= comNum + 'Comments'
                    .blog__date
                        i.far.fa-calendar-alt
                        p= date
