mixin work2(imgNum, color)
    .col.col--3.col--3-pad.col-sm--1
        .main__holder(class=color)
            a.main__link(href="work.html")
                img.main__img(src="./img/main/" + imgNum + '.jpg' alt='')
                .main__appear
                    .main__swiper
                        h4 Cool App Design
                        .main__text
                            p development, mobile
                    .main__icon
                        i.fas.fa-arrow-right