mixin work(imgNum, workName)
    .col.col--4 
        .main__holder(id=workName)
            a(class='main__link' href="work.html")
                img(class='main__img' src="./img/main/" + imgNum + '.jpg' alt='')
                .main__appear
                    .main__swiper
                        h4 Cool App Design
                    .main__text
                        p development, mobile
                    .main__icon
                        i.fas.fa-arrow-right