include ./_soc_btn.pug
include ./_works.pug
include ./_team.pug
include ./_list.pug
include ./_navigation.pug
include ./_work2.pug
include ./_gallery.pug
include ./_tags.pug
include ./_projectinfo.pug
include ./_blog-singleimg.pug
include ./_blog-gallery.pug
include ./_blog-standart.pug
include ./_quote.pug